In [ ]:
# map

In [3]:
##### abcd #####

In [5]:
numbers = [1,2,3,4,5,6,7,8,9]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
# numbers1=[1,2,3,4,5,6,7,8,9]

def square(number):
    return number**2

square(2)

4

In [ ]:
number0 = [1,2,3]
number11 = [5,6,7]
# added_numbers = map(lambda x,y:x+y,number0,number11)           # give map object at 0x00000281D6972AD0>
added_numbers = list(map(lambda x,y:x+y,number0,number11))

print(added_numbers)

<map object at 0x00000281D6972AD0>

In [23]:
# change string to integer using map()

str_numbers = ["1","2","3","4","5"]

int_numbers = list(map(int,str_numbers))
print(int_numbers)
print(type(int_numbers))

[1, 2, 3, 4, 5]
<class 'list'>

In [26]:
def get_name(person):
    return person["name"]

People =[
    { "name":"saqib","age":21},
    { "name":"kashif","age":33}
        ]

print(list(map(get_name,People)))

['saqib', 'kashif']