In [1]:
## create a set 

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
## set  # unique
# remove duplicates

mySet = {1,2,3,4,5,6,7,8,9,1,2,3,4,5}
print(mySet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
mySet.add(0)

In [ ]:
print(mySet)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}