In [35]:
# tuple

In [36]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [37]:
numbers = (1,2,3,4,5,6)

In [38]:
print(numbers)

(1, 2, 3, 4, 5, 6)

In [39]:
mixed_tuple = ("HEllo","Saqib",3.14,'A')
print(mixed_tuple)

('HEllo', 'Saqib', 3.14, 'A')

In [40]:
concat = numbers+mixed_tuple
print(concat)

(1, 2, 3, 4, 5, 6, 'HEllo', 'Saqib', 3.14, 'A')

In [41]:
mixed_tuple *3

('HEllo',
 'Saqib',
 3.14,
 'A',
 'HEllo',
 'Saqib',
 3.14,
 'A',
 'HEllo',
 'Saqib',
 3.14,
 'A')

In [42]:
# immutable nature of tuple

numbers[1] = "abcd"

TypeError: 'tuple' object does not support item assignment

In [ ]:
## tuple methods

print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
#packing and unpacking tuple

(1, 'hello', 3.14)

In [ ]:
#packing

packed_tuple=1,"hello",3.14
print(packed_tuple)

In [ ]:
#unpacking 
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
hello
3.14

In [ ]:
#unpacking with * 

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [43]:
# nested list 

lst = [[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [46]:
# nested tuple

tuple = ((1,2,3,4),(6,7,8,9),(1,"hello",3.14,"c"))
print(tuple[0])
print(tuple[1][2])
print(tuple[2][1])

(1, 2, 3, 4)
8
hello

In [51]:
for i in tuple:
    for item in i:
        print(item,end =" ")
    print()

1 2 3 4
6 7 8 9
1 hello 3.14 c